:root {
  --main-bg: #282c34;
  --nav-btn-height: 3vh;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: #dfdfdf;
  font-size: calc(10px + 2vmin);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 105vh;
}

a,
button.a {
  color: #61dafb;
}

a:not(:hover) {
  text-decoration: none;
}

button.a {
  background: none;
  border: none;
  padding: 0;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

button.a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0;
  max-width: 80vw;
  margin-top: calc(var(--nav-btn-height) + 4vh);
}

#home.title {
  max-width: 30vw;
}
